<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

    <title>{{title}}</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/stylesheets/payment.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="paypage">

    <ul>
      <h1>{{movie_name}}</h1>
      <li>
        {{cinema}}
      </li>
      <li>
        {{movie_start}}
      </li>
      <li>
        {{price}} 元
      </li>
      <a href="/payinfo/{{movie_id}}/{{cinema}}/{{movie_start}}/{{price}}"><button>确认支付</button></a>
    </ul>

  </div>
</body>
</html>
